/* laptop */
@media(max-width:1366px){
    html{
        font-size: 75%;
    }
}

/* tablet */
@media (max-width: 768px){
    html{
        font-size: 62.5%;
    
    }
   #side-nav{
    max-width: 100px;
}
}

/* media phone */
@media (max-width: 450px){
    html{
        font-size: 55%;
        min-height: 1vh;
    }
    #side-nav{
        min-width: 120px;
        
    }
    
     

    
    
   
}

